@font-face {
    font-family: 'Inter';
    src: url(images/fonts/Inter_18pt-Bold.ttf);
    font-size: 64px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.48px;
    word-wrap: break-word
}

@font-face {
    font-family: 'Inter';
    src: url(images/fonts/Inter_18pt-ExtraLight.ttf);
    font-size: 32px;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word
}

@font-face {
    font-family: 'Inter';
    src: url(images/fonts/Inter_18pt-Regular.ttf);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word
}

:root {
    --primary-color: #212529;
    --accent-color: #FFB338;
}

.TheKingzParlour {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    max-width: 814px;
    margin: 0 auto;
}
 
.TheKingzParlour {
    font-family: 'Inter';
    src: url(images/fonts/Inter_18pt-Bold.ttf);
    font-size: 64px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.48px;
    word-wrap: break-word
}

.Icon {
    src: url(images/LocationCompass.png);
    color: #FFB338;
 }
 .Arrow {
    src:"url(images/Arrow.png)";
    color: #212529
 }
 .LocationCompass {
    src: url(images/LocationCompass.png);
    color: #FFB338;
 }

 .BarberShopImage11 {
    height: 24px;
    width: 24px;
 }
